<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="clean_assembly_folder" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">      
      <probing privatePath="assemblies"/>
    </assemblyBinding>
  </runtime>

  <system.serviceModel>
    <!--
    <services>
      <service name="UtnEmall.Server.BusinessLogic.Customer" behaviorConfiguration="UtnEmall.Server.BusinessLogic.DefaultBehavior">
        <endpoint address ="" binding="basicHttpBinding" contract="UtnEmall.Server.BusinessLogic.ICustomer" />
      </service>
      <service name="UtnEmall.Server.BusinessLogic.Category" behaviorConfiguration="UtnEmall.Server.BusinessLogic.DefaultBehavior">
        <endpoint address ="" binding="basicHttpBinding" contract="UtnEmall.Server.BusinessLogic.ICategory" />
      </service>
    </services>
    -->
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="UtnEmall.Server.BusinessLogic.DefaultBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
